$backGround: red;

.container {
    background-color: $backGround;
    width: 80%;
    height: 150vh;
    display: flex;
}

.ingredientContainer {
    height: 100%;
    flex-grow: 1;
    background-color: yellow;
}

.instructionContainer{
    height: 100%;
    flex-grow: 3;
    background-color: blue;
}