$text: #f0e2fe;
$backGround: #090013;
$primary: #b377fd;
$secondary: #ad4303;
$accent: #f1fb25;

$darkText: #0f011e;
$darkBackGround: #f4ebff;
$darkPrimary: #3e0288;
$darkSecondary: #fc924f;
$darkAccent: #d1dc04;


.searchBar {
    font-size: 1.5em;
    background-color: $text;
    color: $backGround;
    border: $accent;
    font-weight: bold;
    padding: .5em;
}
.recipeCardHolder {
    padding-top: 8em;
    background-color: $backGround;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.recipeCard {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: $backGround;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .05em;
    color: $text;
    border-radius: 3%;
    margin: 15px;
    img {
        width: 100%;
        border-radius: 2%;
    }
  }
.recipeCard:hover {
    border: 3px solid $secondary;
    margin: 12px;

}